<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.s1204.benesse.dcha.e">

    <uses-sdk android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="jp.co.benesse.dcha.permission.ACCESS_SYSTEM" />

    <application
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="CT3用 Digichalizer">

        <activity
            android:name=".InitDcha"
            android:exported="true"
            android:label="Digichalizing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BackNova"
            android:exported="true"
            android:label="Nova Launcher">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Reboot"
            android:exported="true"
            android:label="Reboot">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
