<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="me.s1204.benesse.shared"
    android:sharedUserMaxSdkVersion="28">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="jp.co.benesse.dcha.permission.ACCESS_SYSTEM" />

    <application
        android:description="@string/app_description"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoDisplay">

        <activity
            android:name=".InitDcha"
            android:description="@string/dcha_description"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/dcha"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BackNova"
            android:description="@string/nova_description"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/nova_launcher"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Reboot"
            android:description="@string/reboot_description"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/reboot"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".AccessibilityService"
            android:description="@string/service_description"
            android:exported="true"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>
